/*
  This is a simple stylesheet to style starter components with minimal fuss.
  Feel free to replace it with your choice of styling mechanism.
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--text-default);
  background-color: var(--bg-default);
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: 500;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

a {
  color: var(--primary-main);
  text-decoration: none;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table tr:nth-of-type(2n) {
  background-color: var(--grey-100);
}

td,
th {
  vertical-align: middle;
  padding: var(--px-12) var(--px-4);
}

thead {
  border-bottom: var(--px-2) solid var(--grey-300);
}

tfoot {
  font-size: var(--font-size-lg);
  font-weight: 500;
  border-top: var(--px-2) solid var(--grey-300);
}

/* ----- Typography ----- */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-primary-500 {
  color: var(--primary-500);
}

.text-success {
  color: var(--success-main);
}

.text-info {
  color: var(--info-main);
}

.text-warning {
  color: var(--warning-main);
}

.text-error {
  color: var(--error-main);
}

/* ----- Interactivity ----- */
.cursor-pointer {
  cursor: pointer;
}

/* ----- container ----- */
.container {
  max-width: var(--grid-maxWidth);
  margin: 0 auto;
  padding: 0 var(--sp-3);
  width: 100%;
}

/* ----- Flexbox ----- */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* ----- Sizing ----- */
.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-0 {
  min-height: 0;
}

.w-320 {
  width: var(--px-320);
}

.w-400 {
  width: var(--px-400);
}

.w-640 {
  width: 640px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vh;
}

.max-w-400 {
  max-width: var(--px-400);
}

/* ----- Margin ----- */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--sp-1);
}

.m-2 {
  margin: var(--sp-2);
}

.m-3 {
  margin: var(--sp-3);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--sp-1);
}

.mt-2 {
  margin-top: var(--sp-2);
}

.mt-3 {
  margin-top: var(--sp-3);
}

.mt-4 {
  margin-top: var(--sp-4);
}

.mt-5 {
  margin-top: var(--sp-5);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--sp-1);
}

.mb-2 {
  margin-bottom: var(--sp-2);
}

.mb-3 {
  margin-bottom: var(--sp-3);
}

.mb-4 {
  margin-bottom: var(--sp-4);
}

.mb-5 {
  margin-bottom: var(--sp-5);
}

.ml-0 {
  left: 0;
}

.ml-1 {
  margin-left: var(--sp-1);
}

.ml-2 {
  margin-left: var(--sp-2);
}

.ml-3 {
  margin-left: var(--sp-3);
}

.ml-4 {
  margin-left: var(--sp-4);
}

.my-2 {
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-2);
}

/* ----- Padding ----- */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--sp-1);
}

.p-2 {
  padding: var(--sp-2);
}

.p-3 {
  padding: var(--sp-3);
}

.px-1 {
  padding-left: var(--sp-1);
  padding-right: var(--sp-1);
}

.px-2 {
  padding-left: var(--sp-2);
  padding-right: var(--sp-2);
}

.px-3 {
  padding-left: var(--sp-3);
  padding-right: var(--sp-3);
}

.px-4 {
  padding-left: var(--sp-4);
  padding-right: var(--sp-4);
}

.py-1 {
  padding-top: var(--sp-1);
  padding-bottom: var(--sp-1);
}

.py-2 {
  padding-top: var(--sp-2);
  padding-bottom: var(--sp-2);
}

.py-3 {
  padding-top: var(--sp-3);
  padding-bottom: var(--sp-3);
}

.py-4 {
  padding-top: var(--sp-4);
  padding-bottom: var(--sp-4);
}

/* ----- Buttons ----- */
.btn {
  border: none;
  border-radius: var(--px-8);
  padding: var(--px-10) var(--px-40);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.btn-sm {
  padding: var(--px-6) var(--px-40);
}

.btn-lg {
  font-size: var(--font-size-xl);
  line-height: 1.5;
}

.btn-primary {
  background-color: var(--primary-main);
  color: var(--text-primary-default);
}

.btn-primary:hover {
  background-color: var(--primary-600);
}

.btn-secondary {
  background-color: var(--secondary-main);
  color: var(--text-secondary-default);
}

.btn-secondary:hover {
  background-color: var(--secondary-500);
}

.btn-outline-secondary {
  background-color: transparent;
  color: var(--text-secondary-default);
  border: 1px solid var(--text-secondary-default);
}

/* ----- Dividers ----- */
.divider-left {
  border-left: 1px solid var(--grey-300);
}

/* ----- Borders ----- */
.rounded {
  border-radius: var(--px-4);
}

/* ----- Overflow ----- */
.overflow-auto {
  overflow: auto;
}

/* ----- Backgrounds ----- */
.bg-primary-50 {
  background-color: var(--primary-50);
}

.bg-primary-main {
  background-color: var(--primary-main);
}

.bg-secondary-50 {
  background-color: var(--secondary-50);
}

.bg-secondary-main {
  background-color: var(--secondary-main);
}

/* ----- Paper ----- */
.paper {
  background-color: var(--bg-paper);
}

.border-paper {
  border: 1px solid var(--neutral-100);
}

/* ----- Forms ----- */
label {
  display: inline-block;
  margin-bottom: var(--sp-1);
}

input {
  border-radius: var(--px-4);
  border: 1px solid var(--grey-300);
  transition: all 0.2s ease;
}

:root {
  /* ----- Color Palette ----- */
  --black: #000000;
  --white: #ffffff;

  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;

  --primary-50: #dceefb;
  --primary-100: #b6e0fe;
  --primary-200: #84c5f4;
  --primary-300: #62b0e8;
  --primary-400: #4098d7;
  --primary-500: #2680c2;
  --primary-600: #186faf;
  --primary-700: #0f609b;
  --primary-800: #0a558c;
  --primary-900: #003e6b;

  --secondary-50: #fffbea;
  --secondary-100: #fff3c4;
  --secondary-200: #fce588;
  --secondary-300: #fadb5f;
  --secondary-400: #f7c948;
  --secondary-500: #f0b429;
  --secondary-600: #de911d;
  --secondary-700: #cb6e17;
  --secondary-800: #b44d12;
  --secondary-900: #8d2b0b;

  --neutral-50: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;

  --success-light: #4caf50;
  --success-main: #2e7d32;
  --success-dark: #1b5e20;

  --info-light: #03a9f4;
  --info-main: #0288d1;
  --info-dark: #01579b;

  --warning-light: #ff9800;
  --warning-main: #ed6c02;
  --warning-dark: #e65100;

  --error-light: #ef5350;
  --error-main: #d32f2f;
  --error-dark: #c62828;

  --bg-default: var(--grey-50);
  --bg-paper: var(--white);

  --primary-light: var(--primary-500);
  --primary-main: var(--primary-800);
  --primary-dark: var(--primary-900);

  --secondary-light: var(--secondary-200);
  --secondary-main: var(--secondary-400);
  --secondary-dark: var(--secondary-800);

  --neutral-light: var(--neutral-50);
  --neutral-main: var(--neutral-600);
  --neutral-dark: var(--neutral-900);

  /* text colors on normal background */
  --text-default: var(--neutral-900);
  --text-muted: var(--neutral-600);

  /* text colors on primary background */
  --text-primary-default: var(--white);
  --text-primary-muted: var(--neutral-200);

  /* text colors on secondary background */
  --text-secondary-default: var(--neutral-900);

  /* ----- pixel to rem conversion based on 16px browser default size ----- */
  --px-2: 0.125rem;
  --px-4: 0.25rem;
  --px-6: 0.375rem;
  --px-8: 0.5rem;
  --px-10: 0.625rem;
  --px-12: 0.75rem;
  --px-14: 0.875rem;
  --px-16: 1rem;
  --px-18: 1.125rem;
  --px-20: 1.25rem;
  --px-22: 1.375rem;
  --px-24: 1.5rem;
  --px-32: 2rem;
  --px-40: 2.5rem;
  --px-48: 3rem;
  --px-56: 3.5rem;
  --px-320: 20rem;
  --px-400: 25rem;
  --px-1280: 80rem;

  /* ----- Spacing ----- */
  --sp-1: var(--px-8);
  --sp-2: var(--px-16);
  --sp-3: var(--px-24);
  --sp-4: var(--px-32);
  --sp-5: var(--px-40);
  --sp-6: var(--px-48);

  /* ----- Font Size ----- */
  --font-size-xs: var(--px-12);
  --font-size-sm: var(--px-14);
  --font-size-base: var(--px-16);
  --font-size-lg: var(--px-18);
  --font-size-xl: var(--px-20);
  --font-size-2xl: var(--px-24);
  --font-size-3xl: var(--px-32);

  --grid-maxWidth: var(--px-1280);
  --grid-gutter: var(--px-20);
}
